.thing-form {
  margin: 20px 0;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgb(153, 229, 211);
    box-shadow: 0px 1px 20px #5E5E5E;
    border-bottom: none;
    top: 0px;

    a {
        color: #000 !important;

        &:hover {
            opacity: 0.5 !important;
            cursor: pointer;
        }
    }

    .navbar-default .navbar-toggle {
        margin-top: 30px;
    }

    .navbar-brand {
        font-size: 25px;
        margin-top: 20px;
    }

    .navbar-right > li {
        font-size: 25px;
        padding-right: 15px;
    }

    .navbar-nav.navbar-right:last-child {
        margin-top: 20px;
    //     margin-right: -150px;
    }


}

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: -50px;
    }
}

#cover-logo {
    display: block;
    margin: 0 auto;
    width: 600px;
}

#cover-tagline {
    margin-top: -60px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
}

.brand-button {
    display: table;
    margin: 0 auto;
    margin-top: 115px;
    height: 50px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background: rgb(153, 229, 211);
    text-align: center;
    line-height: 50px;
    padding: 4px 33px;
    border-radius: 20px;

    &:hover {
        cursor: pointer;
        background: rgb(153, 259, 211);
    }

    &.pay-button {
        position: relative;
        margin-top: -145px;
        margin-bottom: 10px;
    }
}

.pay-container {
    display: none;
    text-align: center;
}

// #mail {
//     position: absolute;
//     margin-top: -50px;
// }

#accordian-menu {
    // position: absolute;
    right: 0;
    left: 50%;
    // margin-top: 285px;
    // margin-left: -60px;
    // width: 70%;
    color: black;

    .panel {

        .panel-heading {
            background: rgba(255, 255, 255, 0.3);
            cursor: pointer;

            .panel-title {
                font-size: 25px;
            }
        }

        .accordion-toggle {
            text-decoration: none !important;
        }
    }
}

.address-header {
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}

.address-form-control {  
    display: block;
    background: transparent;
    border: 0;
    border-bottom: 1px dotted #ced2d8;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    line-height: normal;
    vertical-align: baseline;
    color: #FFF;
    text-overflow: ellipsis;
    // width: 36%;
    width: 252px;

    &.inline-address {
        display: inline-block;
    }

    &.city-address {
        width: 128px;
        // width: 20%;
        // margin-right: 1%;
        margin-right: 6px;
    }

    &.state-address {
        width: 50px;
        // width: 4%;
        // margin-right: 1%;
        margin-right: 6px;
        border: 0;
        background: transparent;
        font-size: 14px;
        color: #FFF;
        border-bottom: 1px dotted #ced2d8;

        &:focus {
            outline: 2px auto #ffb84d !important;
        }
    }

    &.zip-address {
        width: 57px;
        // width: 9%;
    }

    &:focus {
       outline: none;
       border-bottom: 1px dotted #e66e24;
    }
}

.hide-appearance {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border-bottom: none;
}

#from-form-container {
    padding-top: 5px;
    padding-left: 20px;

    h4 {
        color: #FFF;
    }

    #from-form {

    }
}

#to-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin-left: -120px;
    margin-top: -50px;

    h4 {
        color: #FFF;
    }
}

#stamp-container {
    position: absolute;
    top: 10px;
    right: 20px;

    .stamp-placeholder {
        width: 100px;
        height: 100px;
        background: #FFF;
        cursor: pointer;

        .stamp-selected-image {
            position: absolute;
            margin-left: -25px;
            margin-top: -20px;
        }
    }

    .stamp-placeholder-text {
        position: absolute;
        bottom: 0;
        margin-bottom: 30%;
        font-size: 16px;
        text-align: center;
        pointer-events: none;
    }
}

.stamp-options-container {
    display: none;

    .stamp-options-body {
        width: 600px;
        height: 200px;
        position: absolute;
        padding: 0px 40px;
        background: #FFF;
        top: -235px;
        margin-left: -250px;
        border-radius: 10px; 
        background-color: rgba(255, 255, 255, 0.8);

        .stamp-option {
            position: relative;
            display: inline-block;
            padding: 10px;
            text-align: center;

            .stamp-image {
                cursor: pointer;

                &:hover {
                    border: 1px solid #e66e24;
                }
            }    

            .stamp-title {
                font-size: 18px;
            }
        }
    }

    .stamp-options-tail { 
        position: absolute;
        top: -35px;
        width: 0;
        height: 0px;
        border-top: 30px solid rgba(255, 255, 255, 0.8);
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
    }
}

#steps {

    .slick-slide {
        margin-top: 50px;
        font-size: 30px;
        text-align: center;

        .step-title {
            margin-top: -10px;
            font-family: 'Oswald';
            text-transform: uppercase;
        }

        .step-body {
            margin: 0 auto;
            margin-top: 5px;
            padding: 10px 0px;
            width: 75%;
            font-size: 18px;
            background: rgb(209, 217, 24);
            border-radius: 10px;
        }
    }

    .slick-dots {
        top: 0;


        li button:before {
            font-size: 30px;
        }

        li {
            margin: 0 50px;
        }
    }
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    display: none;
}

.slick-disabled {
    cursor: auto;
}

.slick-dots li.slick-active button:before {
    color: rgb(209, 217, 24);
    opacity: 1;
}

.slick-dots li button:before {
    color: rgb(209, 217, 24);
}

.slick-next, .slick-prev {
    // padding-top: 10px;
    // padding-right: 35px;
    // padding-bottom: 35px;
    font-size: 40px;
    width: 55px;
    height: 55px;
    z-index: 100;
    margin-top: -65px;

    // &.slick-disabled
}

.slick-prev:before, .slick-next:before {
    color: black;
    font-size: 55px;
}

.slick-slider {
    margin: 0 auto;
    margin-top: 35px;
    // margin-top: 20px;
    width: 660px;
    height: 240px;
}

.popover {
    width: 1000px !important;
    height: 200px !important;
    // margin-bottom: 100px;
    padding-bottom: 100px;
    // top: -100px !important;
}

#banner {
    border-bottom: none;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

#initProcess {
    position: absolute;
    right: 0;
}

.hero-unit {
    position: relative;
    min-height: 99%;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;

    .mail-icon {
        font-size: 8em;
    }

    canvas {
        height: 100px;
        background-color: #f3f3f3;
        border: 1px solid #c3c3c3;
    }
}

#user-file-select {
    position: absolute;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    overflow: hidden !important;
    cursor: pointer;
    z-index: 200;
}

.nv-file-over { 
    border: dotted 4px red;
}

/* User Files Table */
.user-files-table {
    position: relative;
    // margin:0px;
    margin: 20px auto;
    margin-top: 40px;
    padding:0px;
    // width:100%;
    width: 65%;
    z-index: 200;
    -webkit-box-shadow: 0px 7px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 24px 3px rgba(0,0,0,0.75);
    
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.user-files-table table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}
.user-files-table tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.user-files-table table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.user-files-table table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.user-files-table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.user-files-table tr:hover td{
    
}
.user-files-table tr:nth-child(odd) { 
    background-color:#e5e5e5; 
}
.user-files-table tr:nth-child(even) { 
    background-color:#ffffff; 
}
.user-files-table td {
    vertical-align:middle;
    padding:7px;
    font-size:15px;
    font-family:Helvetica;
    font-weight:normal;
    color:#000000;
    text-align:center;

    &.user-file-name {
        text-align: left;
    }
}
.user-files-table tr:last-child td {
    border-width:0px 1px 0px 0px;
}
.user-files-table tr td:last-child{
    border-width:0px 0px 1px 0px;
}
.user-files-table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.user-files-table tr:first-child td:first-child{
    border-width:0px 0px 1px 0px;
}
.user-files-table tr:first-child td:last-child{
    border-width:0px 0px 1px 1px;
}

.remove-file {
    font-size: 25px;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

#user-file-instructions {
    position: absolute;
    color: black;
    bottom: 0;
    text-align: center;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    line-height: 35px;
    font-size: 21px;
    pointer-events: none;
}

// .footer {
//     position: absolute;
//     bottom: 3px;
//     width: 99.5%;
//     height: 50px;
//     padding: 30px 0;
//     text-align: center;
//     border-top: 1px solid #E5E5E5;
// }


/* FLIPPING STUFF*/
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}

/* flip the pane when hovered */
.flipper.flip {
// .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    // margin-top: 140px;
    margin: 0 auto;
    margin-top: 15px;
    // margin-top: -10px;
    width: 165*4px;
    height: 93*4px;
}

/* flip speed goes here */
.flipper {
    transition: 1.5s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(180deg);
    background-color:  #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(0deg);
    background-color:  #333;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

// .flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
//     transform: rotateY(180deg);
// }

.contact {
        position: absolute;
        height: 93*4px;
        width: 165*4px;
        background: rgba(0, 0, 0, 0.1);
        
        border-radius: 2*4px;
        -ms-border-radius: 2*4px;
        -moz-border-radius: 2*4px;
        -o-border-radius: 2*4px;
        -webkit-border-radius: 2*4px;
}
.contact .envelope {
        position: absolute;
        height: 93*4px;
        width: 165*4px;
        left: 50%;
        margin-left: -82.5*4px;
        top: 50%;
        margin-top: -46.5*4px;
        background: #F9F9F9;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        
        transition: margin-top 300ms;
        -ms-transition: margin-top 300ms;
        -moz-transition: margin-top 300ms;
        -o-transition: margin-top 300ms;
        -webkit-transition: margin-top 300ms;
}
/* Removed .contact:hover */
.envelope.open {
        margin-top: -20*4px;

        transition-delay: 150ms;
        -ms-transition-delay: 150ms;
        -moz-transition-delay: 150ms;
        -o-transition-delay: 150ms;
}
.contact .envelope .top {
        position: absolute;
        top: -11px;
        left: 0px;
        width: 100%;
        height: 73*4px;
        z-index: 100;
        // z-index: 0;
        overflow: hidden;
                        
        transform-origin: top;
        -ms-transform-origin: top;
        -moz-transform-origin: top;
        -o-transform-origin: top;
        -webkit-transform-origin: top;
                    
        transition: transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -ms-transition: -ms-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -moz-transition: -moz-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -o-transition: -o-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
        -webkit-transition: -webkit-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
}
/* Removed .contact:hover */
.envelope .top.open {
        transition: transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -ms-transition: -ms-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -moz-transition: -moz-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -o-transition: -o-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        -webkit-transition: -webkit-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        
        height: 10*4px;
        top: -60*4px;
        z-index: 0;

        transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
}
.contact .envelope .outer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        border-left: 83*4px solid transparent;
        border-right: 82*4px solid transparent;
        border-top: 70*4px solid #EEE;
}
.contact .envelope .outer .inner {
        position: absolute;
        left: -81*4px;
        top: -281px;
        // top: -73*4px;
        border-left: 81*4px solid transparent;
        border-right: 80*4px solid transparent;
        border-top: 68*4px solid #333;
}
.contact .envelope .bottom {
        position: absolute;
        z-index: 20;
        bottom: 0*4px;
        left: 2*4px;
        border-left: 81*4px solid transparent;
        border-right: 80*4px solid transparent;
        border-bottom: 45*4px solid #333;
}
.contact .envelope .left {
        position: absolute;
        z-index: 20; top: 0*4px;
        left: 0px;
        border-left: 81*4px solid #333;
        border-top: 45*4px solid transparent;
        border-bottom: 45*4px solid transparent;
}
.contact .envelope .right {
        position: absolute;
        z-index: 20;
        top: 0*4px;
        right: 0*4px;
        border-right: 80*4px solid #333;
        border-top: 45*4px solid transparent;
        border-bottom: 45*4px solid transparent;
}
.contact .envelope .cover {
        position: absolute;
        z-index: 15;
        bottom: 0px;
        left: 0px;
        height: 55%;
        width: 100%;
        background: #EEE;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
}
.contact .envelope .paper {
        position: absolute;
        height: 83*4px;
        width: 100%;
        top: 0px;
        left: 0px;
        background: #F9F9F9;
        z-index: 10;
        transition: margin-top 300ms 0ms;
        -ms-transition: margin-top 300ms 0ms;
        -moz-transition: margin-top 300ms 0ms;
        -o-transition: margin-top 300ms 0ms;
        -webkit-transition: margin-top 300ms 0ms;
}
/* Removed .contact:hover */
.envelope .paper.open {
        margin-top: -60*4px;
        transition: margin-top 300ms 150ms;
        -ms-transition: margin-top 300ms 150ms;
        -moz-transition: margin-top 300ms 150ms;
        -o-transition: margin-top 300ms 150ms;
        -webkit-transition: margin-top 300ms 150ms;
}


/* SKEL Styles */
#footer
    {
        // margin-left: 375px;
        text-align: center;
        background-color: #dce3e2;
        padding: 3em 0 4em 0;
        box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
        font-size: 0.8em;
    }

        #footer .copyright
        {
            cursor: default;
            margin: 0;
        }
            
            #footer .copyright li
            {
                display: inline-block;
                line-height: 1em;
                border-left: solid 1px rgba(128,128,128,0.35);
                padding: 0 0 0 0.5em;
                margin: 0 0 0 0.5em;
            }
            
            #footer .copyright li:first-child
            {
                border-left: 0;
                padding-left: 0;
                margin-left: 0;
            }

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

    #main
    {
        // margin-left: 375px;
    }
    
        #main > section
        {
            margin: 0;
            height: 780px;
            overflow: hidden;
            padding: 4em 0;
            // box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
            // text-align: center;
            // background-image: url('images/overlay.png');
        }

            #main > section.dark
            {
                color: #ddd;
                color: rgba(255,255,255,0.75);
            }

                #main > section.dark h2,
                #main > section.dark h3,
                #main > section.dark h4,
                #main > section.dark h5,
                #main > section.dark h6
                {
                    color: inherit;
                }

                #main > section.dark strong,
                #main > section.dark a
                {
                    color: #fff;
                    border-color: inherit;
                }

                    #main > section.dark a:hover
                    {
                        border-bottom-color: rgba(255,255,255,0);
                    }

            #main > section.cover
            {
                background: url('/assets/images/background.jpg');
                background-repeat: no-repeat;
                padding: 6em 0;
                background-size: cover;
                background-position: center center;
            }
        
            #main > section.one
            {
                background-color: #81918E;
                // background-image: url('../images/banner.jpg');
            }

            #main > section.two
            {
                background-color: #f5fafa;
            }
        
            #main > section.three
            {
                background-color: #ecf1f1;
            }
        
            #main > section.four
            {
                background-color: #e8edec;
            }