<div ng-include="'components/navbar/navbar.html'"></div>
<!-- <header class="hero-unit" id="banner"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <!-- front content -->
              <div id="stamp-container">
                <div class="stamp-placeholder">
                  <p class="stamp-placeholder-text">Place stamp here</p>
                </div>
              </div>
              <div id="to-form-container">
                <h4>TO</h4>
                <form id="to-form">
                  <input type="text" name="toName" id="user-name" class="address-form-control" placeholder="Full Name" />
                  <input type="text" name="toStreet" class="address-form-control" placeholder="Street Address" />
                  <input type="text" name="toCity" class="address-form-control inline-address city-address" placeholder="City" />
                  <input type="text" name="toState" class="address-form-control inline-address state-address" placeholder="CA" />
                  <input type="text" name="toZip" class="address-form-control inline-address zip-address" placeholder="ZIP" />
                </form>
              </div>
              <div id="from-form-container">
                <h4>FROM</h4>
                <form id="from-form">
                  <input type="text" name="fromName" id="user-name" class="address-form-control" placeholder="Full Name" />
                  <input type="text" name="fromStreet" class="address-form-control" placeholder="Street Address" />
                  <input type="text" name="fromCity" class="address-form-control inline-address city-address" placeholder="City" />
                  <input type="text" name="fromState" class="address-form-control inline-address state-address" placeholder="CA" />
                  <input type="text" name="fromZip" class="address-form-control inline-address zip-address" placeholder="ZIP" />
                </form>
              </div>
            </div>
            <div class="back">
            <!-- back content -->
            <div id="bg"></div>
            <div class="contact">
              <div class="envelope">
                <div class="top">
                  <div class="outer"><div class="inner"></div></div>
                </div>
                <div class="bottom"></div>
                <div class="left"></div>
                <div class="right"></div>
                <div class="cover"></div>
                <div class="paper" nv-file-over="" uploader="uploader">
                  <input id="user-file-select" type="file" nv-file-select="" uploader="uploader" multiple  />
                  <div class="user-files-table">
                    <table id="user-files-table">
                      <tr ng-repeat="item in uploader.queue">
                        <td>{{ $index + 1 }}</td>
                        <td>{{ item.file.name }}</td>
                        <td>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td>
                          <span ng-click="item.remove()" class="icon ion-ios-close-outline remove-file"></span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <h3 id="user-file-instructions">Drag and Drop or Click to Upload files</h3>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <button id="initProcess" class="btn btn-lg" ng-click="initProcess()">Start</button>
        <div id="accordian-menu">
          <accordion close-others="true">
            <accordion-group heading="Documents" is-open="status.firstOpen"  ng-click="prepareEnvelopeDocuments()">
              This content is straight in the template.
            </accordion-group>
            <accordion-group heading="Address" is-open="status.secondOpen" ng-click="prepareEnvelopeAddress()">
              This content is straight in the template.
            </accordion-group>
            <accordion-group heading="Payment" is-open="status.thirdOpen" ng-click="preparePayment()">
              <form id="stripe-form" action="/payment" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_test_2UCngl2Ftoz1VmwIZN8JMZQa"
                  data-amount="349"
                  data-name="Send a Letter"
                  data-description="1 Page, Domestic ($3.49)"
                  data-image="assets/images/yeoman.png">
                </script>
              </form>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>
<!-- </header> -->

<!--   <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div> -->

<!-- <footer class="footer">
  <div class="container">
      <p>eSnail &copy; 2015</p>
  </div>
</footer>