<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>eSnail</h1>
    <p class="lead">Send your mail, hands-free</p>
    <i class="mail-icon icon ion-paper-airplane"></i>

    <div class='row'>
      <div class='col-lg-8 col-lg-offset-2'>
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <!-- front content -->
              Address
            </div>
            <div class="back">
            <!-- back content -->
            <div id="bg"></div>
            <div class="contact">
              <div class="envelope">
                <div class="top">
                  <div class="outer"><div class="inner"></div></div>
                </div>
                <div class="bottom"></div>
                <div class="left"></div>
                <div class="right"></div>
                <div class="cover"></div>
                <div class="paper">
                <div class="user-files-table">
                  <table id="user-files-table">
                    <tr ng-repeat="item in uploader.queue">
                      <td>{{ $index + 1 }}</td>
                      <td>{{ item.file.name }}</td>
                      <td>{{ item.file.size/1024/1024|number:2 }} MB</td>
                      <td>
                        <span ng-click="item.remove()" class="icon ion-ios-close-outline remove-file"></span>
                      </td>
                    </tr>
                  </table>
                </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form action="/payment" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_2UCngl2Ftoz1VmwIZN8JMZQa"
        data-amount="349"
        data-name="Send a Letter"
        data-description="1 Page, Domestic ($3.49)"
        data-image="assets/images/yeoman.png">
      </script>
  </form>
  </div>
</header>

<!--   <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div> -->

<!-- <footer class="footer">
  <div class="container">
      <p>eSnail &copy; 2015</p>
  </div>
</footer>